$background-color:  #049117;

$title-color:       rgba(255, 255, 255, 0.7);
$moreinfo-color:    rgba(255, 255, 255, 0.7);

.widget-queue-match {

    background-color: $background-color;

    .title {
        color: $title-color;
    }

    .more-info {
        color: $moreinfo-color;
    }

    .updated-at {
        color: rgba(255, 255, 255, 0.7);
    }

    .danger {
        background: red;
    }

    &.large h3 {
        font-size: 65px;
    }
}

.danger {
    background-color: red;
}
