<%
def template
  cucumber_report_div = '<div class="gridster"><ul>'

  json = File.read('public/report/cucumber-report.json')
  parsed = JSON.parse(json)
  li_count = 1
  parsed[0]['elements'].each do |element|
    scenario = element['name']
    cucumber_report_div += "<li data-row='1' data-col='#{li_count.to_s}' data-sizex='1' data-sizey='1'>"
    cucumber_report_div += "<div data-id='cucumber_status_#{li_count.to_s}' data-view='Cucumber' data-addclass-danger='cukeFailure'></div></li>"
    li_count += 1
  end
  cucumber_report_div += '</ul></div>'
  return cucumber_report_div
end
%>

<%= template %>
