<div class="gridster">
    <ul>

        <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
            <div data-id="compare_xsd_files" data-view="Compare" data-addclass-danger="md5Fail" data-title="XSD File Check"></div>
        </li>

        <li data-row="2" data-col="2" data-sizex="1" data-sizey="1">
            <div data-id="compare_swagger_files" data-view="Compare" data-addclass-danger="md5Fail" data-title="Swagger File Check"></div>
        </li>

        <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
            <div data-id="rabbitmq_queues_1" data-view="Queues"></div>
        </li>
        <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
            <div data-id="rabbitmq_queues_2" data-view="Queues"></div>
        </li>
        <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
            <div data-id="rabbitmq_queues_3" data-view="Queues"></div>
        </li>
        <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
            <div data-id="rabbitmq_queues_4" data-view="Queues"></div>
        </li>

    </ul>
</div>
