<div class="gridster">
    <ul>
        <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
            <div data-id="rmadapter_alive" data-view="RM Adapter Alive"></div>
        </li>
        <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
            <div data-id="jobsvc_alive" data-view="Job Service Alive"></div>
        </li>
        <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
            <div data-id="rmadapter_queues_ok" data-view="RM Adapter Queues Okay"></div>
        </li>
        <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
            <div data-id="jobsvc_queues_ok" data-view="Job Service Queues Okay"></div>
        </li>
    </ul>
</div>
